{% extends "base.html" %}

{% block content %}
<h1 align="center">Бесплатная база авто</h1>
<br>
{% for elem in listt %}
    <div>
        {% if elem.image %} <img src="E:\Новая папка (2)\ordnung und sauberkeit\site_auto\TEST\static\img\auto\auto{{elem.id}}.png"> {% endif %}
        <h4 align="center">{{elem.id}}</h4>
      <p><h3 align="center"> {{ elem.mark }} / {{ elem.mark_rus }}</h3></p>
      <p> </p>
      <p><h4> {{ elem.model }} {{ elem.generation }}</h4></p>
      <p> </p>
      <p><h4> {{ elem.jahre_out }} - {{ elem.jahre_in }} гг</h4></p>

    </div>
{% endfor %}

{% if count > 0 %}
    <a class="btn btn-primary" href="/autos/{{count-1}}">предыдущее</a>
{% endif %}
{% if kodon %}
    <a class="btn btn-primary" href="/autos/{{count+1}}">следущее</a>
{% endif %}
{% endblock %}
