<!DOCTYPE html>
<html lang="en"><head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <meta charset="UTF-8"><title>АТП</title></head><body>
<nav>
  <ul>
        <li>
          <a class="btn btn-primary" href="/">О нас</a>
        </li>
        <li>
          <a class="btn btn-primary" href="/news/0">Новости</a>
        </li>
      {% if current_user.is_authenticated %}
        <li>
          <a class="btn btn-primary" href="/autos/0">Автопарк</a>
        </li>
      {% endif %}
        <li>
          <a class="btn btn-primary" href="/req">Ассортимент услуг</a>
        </li>
        <li>
            {% if current_user.is_authenticated %}
            <a class="btn btn-primary" href="/cabinet">Личный кабинет</a>
            {% else %}
            <h4><b>Вы еще не зарегистрированы? Зарегистрируйтесь чтобы оформлять заказы онлайн!</b></h4>
            <a class="btn btn-primary" href="/register">Зарегистрироваться</a>
            {% endif %}
        </li>
        <li>
            {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="/logout">выйти</a>
            {% else %}
            <a class="btn btn-primary" href="/login">Войти</a>
            {% endif %}
        </li>
      </ul>
    </nav>
<br>
<h5>======================================================================================</h5>
{% block content %} {%endblock%}
<br>
<br>
<br>
<h5>======================================================================================</h5>
2024, компания xxx<br>
</body></html>
