<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аккаунт</title>
</head>
<body>
<nav>
    <p><a class="btn btn-primary" href="/">Главная</a></p>
    <br>
    <a class="navbar-brand" href="/logout">Выйти из аккаунта</a>

    {% if current_user.other %}
    {% if current_user.other[image] %}
        <img src="{url_for('static', filename='img/{{current_user.id}}.png')}" >
    {% endif %}
    {% endif %}

    <h4>Здравствуйте, {{ current_user.name }} {{ current_user.surname }}</h4>

    {% if current_user.other %}
    <h4>{{current_user.other}}</h4>
    {% endif %}
</nav>
</body>
</html>
