<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аккаунт</title>
</head>
<body>
<nav>
    <p><a class="btn btn-primary" href="/">Главная</a></p>
    <br>
    {% if current_user.is_authenticated %}

        <a class="navbar-brand" href="/logout">Выйти из аккаунта</a>
    {% if current_user.other %}
    {% if current_user.other[image] %}
        <img src="{url_for('static', filename='img/(corrent_user.id).jpeg')}" >
    {% endif %}
    {% endif %}
    <h4>Здравствуйте, {{ current_user.name }} {{ current_user.surname }}</h4>

    {% else %}
  <h2>Вы еще не зарегистрированы? Зарегистрируйтесь чтобы оформлять заказы онлайн!</h2>
        <p>
            <a class="btn btn-primary" href="/register">Зарегистрироваться</a>
          </p>
  <h2>У вас уже есть аккаунт?</h2>
  <p>
            <a class="btn btn-primary" href="/login">Войти</a>
        </p>
    {% endif %}
</nav>
</body>
</html>
