{% extends "base.html" %}
{% block content %}
<h1 align="center">Наши услуги</h1>
<br>
<h2>Контакты:</h2>
{% for i in range(10) %}
<h4>{{i}}</h4>
{% endfor %}
<h4> мы блаблабла люблю котиков 450</h4>
<br>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <h4>Опишите ваш заказ.</h4>
    <h4>Мы предоставляем услуги автоперевозок товаров и пассажиров</h4>
    <p>
        {{ form.about.label }}<br>
        {{ form.about(class="form-control") }}<br>
        {% for error in form.about.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
<h3>mb</h3>
{% endblock %}
