{% extends "base.html" %}
{% block content %}
<h1 align="center">Наши услуги включают в себя:</h1>
<ul>
    <li>
        <h3>Транспортировка товаров</h3>
    </li>
    <li>
        <h3>Перевоз людей</h3>
    </li>
</ul>
<br>
<h2>Контакты:</h2>
{% for i in range(10) %}
<h4>{{i}}</h4>
{% endfor %}
<h4> мы блаблабла люблю котиков 450</h4>
<br>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <h4>Опишите ваш заказ</h4>
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
<h3>mb</h3>
{% endblock %}
